[Unit]
Description=Script executed only once at the first boot to finish image configurations

[Service]
Type=oneshot
ExecStart=/usr/bin/first-boot.sh
ExecStartPre=/usr/bin/test ! -f /var/lib/first-boot-done
ExecStartPost=/usr/bin/touch /var/lib/first-boot-done
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
