[Unit]
Description=Set machine-id from WLAN Pi Go hardware serial number
DefaultDependencies=no
After=systemd-remount-fs.service systemd-udevd.service ttyAMA0.device 
Before=systemd-machine-id-commit.service
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/go-hw-machine-id.sh
TimeoutSec=15

[Install]
WantedBy=sysinit.target